html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Common */

.btn__primary {
  top: 570px;
  left: 153px;
  width: 135px;
  height: 45px;
  background: #27a12f 0% 0% no-repeat padding-box;
  border: 1px solid #27a12f;
  opacity: 1;
  color: #fff;
  font-size: 14px;
}

header {
  height: 89px;
  box-shadow: 0px 3px 6px #0000000d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}

.header__left__menu {
  display: flex;
  align-items: center;
}

.header__right__menu {
  align-items: center;
  display: flex;
}

.nav__links {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}

.header__left__menu .nav__links {
  margin-right: 20px;
}

.header__right__menu .nav__links {
  margin-left: 20px;
}

.nav__button {
  background: #000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

main {
  display: flex;
}

.page__title {
  text-align: center;
  font: normal normal bold 25px/33px Roboto;
  letter-spacing: 0.38px;
  color: #000000;
  opacity: 1;
  text-align: center;
  margin-bottom: 30px;
}

/* Sidebar */

.sidebar {
  padding: 15px;
  background: #f2f2f2 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  width: 165px;
}

/* DateMenu */

.date__menu_date {
  /* margin-bottom: 15px; */

  width: 139px;
  /* height: 38px; */
  padding: 12px;
  background: transparent;
  border-radius: 5px;
  opacity: 1;
  text-align: center;
  font-weight: 500;
  color: #474747;
}

.date__menu_date_active {
  /* margin-bottom: 15px; */

  width: 139px;
  /* height: 38px; */
  padding: 12px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  text-align: center;
  font-weight: 500;
  color: #27a12f;
}

.date__menu_button {
  border-radius: 7px;
}

/* FoodMenu */

.food__menu {
  display: flex;
  width: 100%;
  padding-left: 15px;
}

.food__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 10px;
}

.food__item img {
  border-radius: 15px;
  width: 100%;
}

.meal__type {
  color: #8c8c8c;
  font-weight: 500;
}

.meal__name {
  color: #474747;
  font-weight: 700;
}

.switch {
  background-color: #27a12f;
  padding: 10px;
  display: flex;
  border-radius: 15px;
  position: absolute;
  top: 65%;
}

.switch__option {
  background: transparent;
  padding: 10px;
  color: #fff;
  font-size: 25px;
  padding: 10px 25px;
  font-weight: 500;
  border-radius: 15px;
}

.switch__option_active {
  padding: 10px;
  background: #fff;
  color: #6d6d6d;
  padding: 10px 25px;
  font-size: 25px;
  font-weight: 500;
  border-radius: 15px;
  opacity: 1;
}

/* Footer */

footer {
  /* background: black; */
  height: 300px;
  padding: 60px 0px;
}

.footer__row {
  width: 100%;
  /* border: 1px solid; */
  display: flex;
}

.footer__column {
  /* border: 1px solid; */
  width: 100%;
}

.footer__column p {
  line-height: 30px;
}

.footer__title {
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: #27a12f;
  opacity: 1;
  margin-bottom: 16px;
}

.footer__links {
  text-decoration: none;
  margin-bottom: 20px;
  color: #474747;
}
.footer__links a {
  text-decoration: none;
  margin-bottom: 100px;
  color: #474747;
}

.footer__credits {
  margin-top: 30px;
  text-align: center;
  color: #676565;
}

hr {
  margin-bottom: 30px;
  border-color: #b9b9b9;
}

.social__links {
  display: flex;
}
.social__links .footer__links {
  margin-right: 10px;
}
